html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
body {
  background-color: #9fb4c7;
}
.display-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

input,
label {
  font-size: 4rem;
  display: flex;
}
input {
  background-color: white;
}

.card {
  font-size: 4rem;
  border: 1px solid black;
  text-align: center;
  size: 4rem;
  margin: 3rem;
  border-radius: 2rem;
  box-shadow: 10px 5px 10px gray;
  background-color: rgb(171, 219, 227);
  height: 43rem;
  width: 39rem;
}
img {
  width: 30rem;
  height: 30rem;
}
.remove {
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  align-content: center;
  margin: 1rem;
  position: relative;
}
#list {
  font-size: 10rem;
  text-align: center;
}

.display-name {
  font-size: 4rem;
}
.display-age {
  font-size: 3rem;
}
